/*
 * Clear the top of container
 */
div.clear {
    margin-top: 100px;
}

div.plain {
    padding: 0px;
}

/*
 * Plain link, without underline
 */
a.plain {
    text-decoration: none;
    display:block;
    font-weight: bold;
    width: 100%;
    font-size: 1.3em;
}

a.plain:hover {
    text-decoration: none;
    display:block;
}

a.plain:active {
    text-decoration: none;
    background-color: #999;
}

/*
 * Section title
 */
a.section {
    padding: 15px 0 15px 25px;
    color: white;
}
/*
 * Options within section
 */
a.option {
    padding: 5px 25px;
}

/*
 * list
 */
ul.plain {
    border-top: 0px;
}

li {
    padding: 0px;
}
/*
 * Plain list: without stars
 */
li.plain {
    list-style-type: none;
}

p.plain {
    padding: 0px;
    margin: 0px;
}

.no-padding {
    padding: 0;
}

p.para-sep {
    padding: 10px 0px 5px 0px;

}
