<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading plain" role="tab" id="heading1">
            <a class='panel-title plain section' data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                Design
            </a>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
            <ul class='list-group plain'>
                <li class='plain' data-bind="css:{high:opt()=='exp'}, click:function(){opt('exp')}"><a class='plain option' href="#">Experiment</a></li>
                <li class='plain' data-bind="css:{high:opt()=='lay'}, click:function(){opt('lay')}"><a class='plain option' href="#">Layout</a></li>
            </ul>
        </div>
    </div> <!-- div.panel -->

    <div class="panel panel-primary">
        <div class="panel-heading plain" role="tab" id="heading2">
            <a class='panel-title plain section' data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                Import
            </a>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <ul class='list-group plain'>
                <li class="plain" data-bind="css:{high:opt()=='file'}, click:function(){opt('file')}"><a class="plain option" href="#">File</a></li>
                <li class="plain" data-bind="css:{high:opt()=='manu'}, click:function(){opt('manu')}"><a class="plain option" href="#">Manual</a></li>
            </ul>
        </div>
    </div> <!-- div.panel -->

    <div class="panel panel-primary">
        <div class="panel-heading plain" role="tab" id="heading3">
            <a class='panel-title plain section' data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                Visualize
            </a>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <ul class='list-group plain'>
                <li class='plain'><a class='plain option' href="#">Plate</a></li>
                <li class='plain'><a class='plain option' href="#">Genes</a></li>
            </ul>
        </div>
    </div> <!-- div.panel -->

    <div class="panel panel-primary">
        <div class="panel-heading plain" role="tab" id="heading4">
            <a class='panel-title plain section' data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                Export
            </a>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <ul class='list-group plain'>
                <li class='plain'><a class='plain option' href="#">Data</a></li>
                <li class='plain'><a class='plain option' href="#">Plot</a></li>
            </ul>
        </div>
    </div> <!-- div.panel -->
</div>
