<div class="container" data-bind="visible: opt()=='lay'">
    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs" role="tablist" id="layout-tabs">
              <li role="presentation" class="active"><a aria-controls="well" role="tab" data-toggle="tab" href="#" data-bind="click: function(){fun('lay_old')}">Update Existing</a></li>
              <li role="presentation"><a aria-controls="well" role="tab" data-toggle="tab" href="#" data-bind="click: function(){fun('lay_new')}">Add New</a></li>
          </ul>
        </div>
    </div> <!-- row -->

    <div class="row">
        <div class="col-md-6 fix-600">
            <div class="sep"></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Experiment</th>
                        <td>
                            <select class="form-control pull-left auto-width" data-bind="options: layouts, optionsCaption: 'Select Experiment...'"></select>
                        </td>
                    </tr>
                    <tr data-bind="visible: fun()=='lay_old'">
                        <td>Layout</th>
                        <td>
                            <select class="form-control pull-left auto-width"
                                data-bind="options: layouts, optionsCaption: 'Select Layout...'"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Factor</th>
                        <td>
                            <select class="form-control pull-left auto-width"
                                data-bind="options: exp_fact, optionsText:
                                'name', optionsCaption: 'Select Factor...'"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="well"></div>
            <div class="tab-content"><br>
                <div role="tabpanel" class="tab-pane fade active" id="wwell"></div>
            </div>

            <button data-bind="visible:fun()=='lay_old'">Update</button>
            <button data-bind="visible:fun()=='lay_new'">Add</button>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
</div>
