<div class="container" data-bind="with: exp, visible: $root.opt()=='exp' ">
    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs" role="tablist" id="layout-tabs">
              <li role="presentation" data-bind="css:{active: fun() == 'old'}">
                  <a role="tab" data-toggle="tab" href="#" data-bind="click: function(){fun('old')}">Available</a>
              </li>
              <li role="presentation" data-bind="css:{active: fun() == 'new'}">
                  <a role="tab" data-toggle="tab" href="#" data-bind="click: function(){fun('new')}">New</a></li>
          </ul>
        </div>
    </div> <!-- row -->

    <div class="row">
        <div class="col-md-6 fix-600">
            <div class="sep"></div>
            <h2>General Information</h2>
            <div class="sep"></div>
            <table class="table table-striped">
                <tbody>
                    <tr data-bind="visible: fun()=='old' ">
                        <td>Select Experiment</td>
                        <td>
                            <select class="form-control" data-bind="options: experiments, optionsText: 'name', value: current_exp, optionsCaption: 'Choose...'"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Experiment Name (need to be unique)</td>
                        <td><input class="form-control" data-bind="value: name" /></td>
                    </tr>
                    <tr>
                        <td>User (comma separated)</td>
                        <td><input class="form-control" data-bind="value: user" /></td>
                    </tr>
                    <tr>
                        <td>Well Number</td>
                        <td>
                            <select class="form-control" data-bind="options: well_types, optionsCaption: 'Select Well Number...', value: well"> </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="table-title">Factors</h2>
            <p class="table-title">(Independent Variables)</p>
            <table class="table table-bordered" width="70%">
                <thead>
                    <tr>
                        <th width="40%">Name</th>
                        <th width="35%">Type</th>
                        <th width="25%"><button class="btn btn-primary" data-bind='click: add_fact'>Add Factor</button></th>
                    </tr>
                </thead>
                <tbody data-bind='foreach: exp_fact'>
                    <tr>
                        <td>
                            <p class="plain"><input class="form-control" data-bind="value: name" /></p>
                        </td>
                        <td>
                            <select class="form-control" data-bind='options: $parent.var_types, optionsCaption: "Select...", value: type'> </select>
                        </td>
                        <td>
                            <a href='#' data-bind='click: $parent.del_fact'>Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="table-title">Channels</h2>
            <p class="table-title">(Dependent Variables)</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="40%">Name</th>
                        <th width="35%">Type</th>
                        <th width="25%"><button class="btn btn-primary" data-bind='click: add_chnl'>Add Channel</button></th>
                    </tr>
                </thead>
                <tbody data-bind='foreach: exp_chnl'>
                    <tr>
                        <td>
                            <p class="plain"><input class="form-control" data-bind="value: name" /></p>
                        </td>
                        <td> Decimal </td>
                        <td>
                            <a href='#' data-bind='click: $parent.del_chnl'>Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" data-bind="visible:fun()=='old', click: update_exp">Update Experiment</button>
            <button class="btn btn-primary" data-bind="visible:fun()=='new'">Add Experiment</button>
            <div id="exp-notice"></div>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
</div>
