<div class="container" data-bind="visible: opt()=='expt'">
    {# Tabs #}
    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs" role="tablist" id="import-tabs">
              <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#">Export Data</a></li>
          </ul>
        </div>
    </div> <!-- row -->
    {# Select exp and layout #}
    <div class="row">
        <div class="col-md-4">
            <div class="sep"></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Experiment</th>
                        <td>
                            <select class="form-control auto-width" data-bind="options: layouts, optionsCaption: 'Select Experiment...'"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Layout</th>
                        <td>
                            <select class="form-control auto-width" data-bind="options: layouts, optionsCaption: 'Select Layout...'"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
    {# Upload a file #}
    <div class="row" data-bind="visible: fun()=='imp_file'">
        <div class="col-md-4">
            <div class="sep"></div>
            <select class="form-control auto-width" data-bind="options: layouts, optionsCaption: 'Select File Type...'"></select>
            <div class="sep"></div>
            <input class="form-control" type="file" name="img">
            <div class="sep"></div>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
    {# Manual paste data #}
    <div class="row" data-bind="visible: fun()=='imp_manu'">
        <div class="col-md-8">
            <div id="data_table"></div>
            <div class="sep"></div>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
    {# Upload button #}
    <button class="btn btn-primary">Upload Data</button>
</div>
