<div class="container" data-bind="visible: opt()=='genes'">
    {# Tabs -#}
    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs" role="tablist" id="import-tabs">
              <li role="presentation" class="active">
                  <a role="tab" data-toggle="tab" href="#">Genes View</a>
              </li>
          </ul>
        </div>
    </div> <!-- row -->
    {# Select exp and layout -#}
    <div class="row">
        <div class="col-md-4">
            <div class="sep"></div>
            <div class="pull-left">
                <button class="btn btn-primary" data-bind="click: add_panel">Add Factor</button>
            </div>
            <div class="pull-left">
                <select class="form-control auto-width pull-left" 
                    data-bind="options: avi_factors, value: chosen_factor, optionsCaption: 'Select Factor...'"></select>
            </div>
        </div> <!-- col-md-x -->
    </div> <!-- row -->

    {# Factor panel -#}
    <div class="row">
        <div class="sep"></div>
        <div class="col-md-8 fix-200" data-bind="foreach: factor_selected">
            <div class="col-md-4">
                <span data-bind="text:name"></span>
                <button class="btn btn-primary" data-bind='click: $parent.del_factor'>Remove</button>
                <select class="form-control" multiple="multiple" data-bind="options: levels, selectedOptions: chosen_levels"></select>
            </div> <!-- col-md-x -->
        </div> <!-- col-md-x -->
    </div> <!-- row -->

    {# Start Visualization #}
    <button class="btn btn-primary" data-bind="click: function(){}">Visualize</button>
    {# Canvas #}
    <div class="row">
        <div id="time_canvas" class="col-md-8 fix-300" data-bind="foreach: row">
            <div class="row" data-bind="foreach: $data">
                <div class="col-md-4">
                    <div data-bind="attr:{id: $data}">A</div>
                    <div data-bind="attr:{id: $data+'_legend'}"></div>
                </div>
            </div>  <!-- row -->

        </div>  <!-- container -->
    </div>  <!-- row -->
</div>
