<div class="container" data-bind="visible: opt()=='genes'">
    {# Tabs -#}
    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs" role="tablist" id="import-tabs">
              <li role="presentation" class="active">
                  <a aria-controls="well" role="tab" data-toggle="tab" href="#">Genes View</a>
              </li>
          </ul>
        </div>
    </div> <!-- row -->
    {# Select exp and layout -#}
    <div class="row">
        <div class="col-md-4">
            <div class="sep"></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Experiment</th>
                        <td>
                            <select class="form-control auto-width" data-bind="options: layouts, optionsCaption: 'Select Experiment...'"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Layout</th>
                        <td>
                            <select class="form-control auto-width" data-bind="options: layouts, optionsCaption: 'Select Layout...'"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Plate</th>
                        <td>
                            <select class="form-control auto-width" data-bind="options: layouts, optionsCaption: 'Select Plate...'"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
    {# Start Visualization #}
    <button class="btn btn-primary" data-bind="click: function(){}">Visualize</button>
    {# Canvas #}
    <div class="row">
        <div class="col-md-4">
            <div class="sep"></div>
            <div id="canvas"></div>
        </div> <!-- col-md-x -->
    </div>  <!-- row -->
</div>
