<div class="container" data-bind="with:gene, visible: $root.opt()=='genes' ">
    {# Tabs: place holder to keep UI consistent, nothing happens here -#}
    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs">
              <li class="active">
                  <a href="#">Gene View</a>
              </li>
          </ul>
        </div>
    </div> <!-- row -->
    {# Experiment and layout panel -#}
    <div class="row">
        <div class="col-md-4">
            <div class="sep"></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Experiment</th>
                        <td>
                            <select class="form-control auto-width" data-bind="options: experiments, value: current_exp, optionsText:'name', optionsCaption: 'Select Experiment...'"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Channel</th>
                        <td>
                            <select class="form-control auto-width" data-bind="options: channels, value: current_channel, optionsText:'name', optionsCaption: 'Select Channel...'"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-primary" data-bind="click: add_panel">Add Factor</button>
                        </td>
                        <td>
                            <select class="form-control" data-bind="options: factors, value: factor_chosen, optionsText:'name', optionsCaption: 'Select Factor...'"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- col-md-x -->
    </div> <!-- row -->

    {# Factor Panels: each panel is a box allowing user the select levels -#}
    <div class="row">
        {# Leave some space to the top -#}
        <div class="sep"></div>
        <div class="col-md-8 fix-200" data-bind="foreach: factor_panels">
            <div class="col-md-4">
                {# Name of the factor -#}
                <h3 class="plain" data-bind="text: name"></h3>
                {# Search box to filter levels -#}
                <input class="form-control" placeholder="Search…" type="search" autocomplete="off" data-bind="value: query, valueUpdate: 'keyup'">
                <select class="form-control" multiple="multiple" data-bind="options: levels, optionsText:'name', selectedOptions: chosen_levels"></select>
                {# Delete button -#}
                <button class="btn btn-primary center-block" data-bind='click: $parent.del_panel'>Remove</button>
            </div> <!-- col-md-x -->
        </div> <!-- col-md-x -->
    </div> <!-- row -->

    {# Start Visualization #}
    <button class="btn btn-primary" data-bind="click: visualize">Visualize</button>
    {# Canvas #}
    <div class="row">
        <div id="time_canvas" class="col-md-8 fix-300">
            <div class="row" data-bind="foreach: graphs">
                <div class="col-md-4">
                    <div data-bind="attr:{id: id}">A</div>
                </div>
            </div>  <!-- row -->
        </div>  <!-- container -->
    </div>  <!-- row -->
</div>
