{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class="col-md-1"></div>
    <div class="col-md-2 plain">
        {% include "control.html" %}
    </div>
    <div class="col-md-8 plain">
        {% include "design_exp.html" %}
        {% include "design_layout.html" %}
        {% include "import_file.html" %}
        {% include "import_manu.html" %}
        {% include "vis.html" %}
        {% include "export.html" %}
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
