<div class="container" data-bind="with:plate, visible: $root.opt()=='plt'">
    {# Tabs -#}
    <div class="row">
        <div class="col-md-6">
          <ul class="nav nav-tabs" role="tablist" id="plate-tabs">
              <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#">Plate</a></li>
          </ul>
        </div>
    </div> <!-- row -->
    {# Select exp and layout -#}
    <div class="row">
        <div class="col-md-4">
            <div class="sep"></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Experiment</th>
                        <td>
                            <select class="form-control auto-width"
                                data-bind="value: current_exp,
                                options: experiments,
                                optionsText: 'dispName',
                                optionsCaption: 'Select Experiment...'">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Layout</th>
                        <td>
                            <select class="form-control auto-width"
                                data-bind="disable: disable_layout,
                                value: current_layout,
                                options: layouts,
                                optionsText: 'dispName',
                                optionsCaption: 'Select Layout...'">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Plate</th>
                        <td>
                            <select class="form-control auto-width"
                                data-bind="disable: disable_plate,
                                value: current_plate,
                                options: plates,
                                optionsText: 'dispName',
                                optionsCaption: 'Select Plate...'">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Channel</th>
                        <td>
                            <select class="form-control auto-width"
                                data-bind="disable: disable_channel,
                                value: current_channel,
                                options: channels,
                                optionsText: 'dispName',
                                optionsCaption: 'Select Channel...'">
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
    {# Manual paste data #}
    <div class="row" data-bind="visible: current_channel()">
        <div class="col-md-8">
            <div id="data_table" style="overflow: hidden;"></div>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
    {# Upload button #}
    <div class="row">
        <div class="col-md-8">
            <div class="sep"></div>
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-primary">Refresh</button>
            <div id="plate-notice"></div>
        </div> <!-- col-md-x -->
    </div> <!-- row -->
</div>
